<div
  class="
    is-flex
    is-justify-content-center
    is-align-items-center
    is-flex-direction-column
  "
>
  <div class="card" style="width: 50%;"">
    <form action="/login" method="post">
    <div class="card-content">
      <input
        type="password"
        id="fname"
        class="input"
        name="password"
        placeholder="password"
      />
      <p id="notice"><%= notice %></p>
    </div>
    <div class="card-footer">
      <div class="card-footer-item">
        <input type="submit" value="Submit" class="button" />
      </div>
    </div>
  </form>
  </div>
</div>
