<p id="notice"><%= notice %></p>
<h1>PAPINOS</h1>
<form action="/login" method="post">
  <input
    type="text"
    id="fname"
    class="input"
    name="password"
    placeholder="Your name.."
  />
  <input type="submit" value="Submit" class="button" />
</form>
