<nav
  class="
    navbar
    transparency
    is-flex is-flex-direction-column is-align-items-center
  "
  role="navigation"
  aria-label="main navigation"
>
  <div class="navbar-brand">
    <p class="navbar-item title is-4">Soluciones Biomedicas Peruanas</p>
  </div>
  <% if cookies[:visitor_password_verified] %>
    <%= button_to "Log out", login_path, class: "button is-small is-rounded mb-3",
    method: :delete %>
  <% end %>
</nav>
